.weather-card{
  width: 80%;
  padding: 20px 40px;
  margin: 200px auto;
  background: #fff;
  box-shadow:rgba(0, 0, 0, 0.6) 0px 0px 5px;
  .info-weather{
    margin-top: 40px;
  }
}
.am-flexbox .am-flexbox-item {
  box-sizing: border-box;
  flex: 1 1;
  text-align: center;
  margin-left: 8px;
  min-width: 10px;
}