.user-page{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  .header-pic{
    width: 100%;
    height: 500px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .main-wrapper{
    width: 95%;
    position: relative;
    height:  calc(100vh - 500px);
    top: -80px;
    // padding: 20px 0;
    margin: 0 auto;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    .avator-pic{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      top: -80px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  
}
